/* --- General Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;    
}
header {
    position: relative;
    z-index: 99999; /* Ensures the entire header block is on top */
}

/* --- Top Bar --- */
.top-bar {
    background-color: #1a4231;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    font-size: 0.95rem;
}

.top-bar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.top-bar-right i {
    margin-right: 5px;
}

/* --- Main Navigation Bar --- */
.main-header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: relative; 
    z-index: 9999; 
}

/* Logo Section */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.logo-icon {
    background-color: #1a4231;
    color: white;
    height: 30px;

    .top_contact a {
        color: white;
        text-decoration: none;
        margin-left: 20px;
        display: flex-end;
        margin-right: 20px;

        &:hover {
            text-decoration: wavy underline;
            color: yellow;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }

    .company_name {
        margin-left: 20px;
    }
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(0, 62, 12);
    display: flex;
    align-items: center;

    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-right: 20px;
        display: flex;

        p{
            margin: 0;
            padding: 0;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;

            a {
                color: rgb(1, 63, 16);
                text-decoration: none;
                font-size: 18px;

                &:hover {
                    text-decoration: wavy underline;
                    color: yellow;
                }
            }
        }
    }
}   